
html{
    scroll-behavior: smooth;
}

#skip{
    position: absolute;
    left: -500px;
}

#skip:focus{
    left: 100px;
    transition: 1s

}


@media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto; /* Disable smooth scrolling */
    }

    *{
        transition: 0s !important;
    }
    
  }


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #F5F5DC;
}

header {
    background-color: #135E36;
    color: #fff;
    padding: 20px;
    text-align: center;
}



nav {
    background-color: #fff;
    border: solid 6px #734A12;
    padding: 10px 0;
    text-align: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}
nav a:hover {
    color: #007bff;
}

@media (prefers-color-scheme: dark) {
    nav {
        background: #333;
        border: solid 6px #734A12;
        padding: 10px 0;
        text-align: center;
    }
    
    nav a {
        margin: 0 10px;
        text-decoration: none;
        color: #fff;
    }
}


section {
    padding: 20px;
}
footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.student-card {
background-color: #fff;
border: solid 6px #734A12;
border-radius: 8px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
padding: 20px;
margin-bottom: 20px;
transition: transform 0.3s ease-in-out;
height: 120px; /* Increased height */
display: flex;
align-items: center; /* Center vertically */
justify-content: center; /* Center horizontally */


border-radius:7% 93% 0% 100% / 91% 12% 88% 9%;



background-image: url('../images/wolftone.png'); /* Specify the path to your image */
background-size: contain; 
background-repeat: no-repeat; /* Do not repeat the image */
}

.student-card:hover {
    transform: translateY(-5px);
}

@font-face {
    font-family: Eachtra;
    /* src: url(Eachtra-ZVv5m.ttf); */
    /* src: url(Eachtra-OVl54.otf); */
    src: url(CelticPlain001001-1n4B.ttf)
  }

  
.student-card a {
    font-family: Eachtra, sans-serif;
    font-size: 42px;
    color: #333;
    margin-left:150px;
    text-decoration: none;
    line-height: 1.1;
}

.student-card a:focus {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (hover: hover) {
.student-card a:hover {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.student-card:hover {
    transform: translateY(-5px);
}
}


.blog-gallery{
    display:grid;
    width: 95%;
    margin: auto;
    grid-template-columns: 100%;
}

@media screen and (min-width: 776px){
    .blog-gallery{
        grid-template-columns: 45% 45%;
        grid-gap: 20px
        /* justify-content: ; */
    }
}

@media screen and (min-width: 995px){
    .blog-gallery{
        grid-template-columns: 30% 30 30%;
        grid-gap: 20px
        /* justify-content: ; */
    }
}

.img-grid{
    display: grid;
}

.img-grid img{
    width: 80%;
    border: solid blue 3px;
    border-radius:7% 93% 0% 100% / 91% 12% 88% 9%;
}
